.drag {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  cursor: pointer;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  position: relative;
  max-width: 700px;
}
.image img {
  width: 12rem;
  vertical-align: middle;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.image .text {
  position: absolute;
  width: 100%;
  top: calc(100% + 1rem);
  left: 0;
  text-align: center;
}

.fo {
  font-size: small;
  color: #9D9D9D;
}
.icon {
  content:url("../public/Frame\ 3.svg");
}
@media (prefers-color-scheme: dark) {
  .icon {
    content:url("../public/Frame\ 3\ black.svg");
  }
}

